<h2 id="terminology">Terminology</h2>

<p>Every agency has different rules for purchasing. Here are some guidelines on the 2
  thresholds we track on Open Procure.</p>

<p><strong>Discretionary threshold</strong> is the purchasing limit at the group level.
  This typically means a group manager has the authority to select a vendor and approve
  the purchase.</p>

<p><strong>Formal threshold</strong> is the purchasing limit before requiring a public
  bid.  Purchases below this limit typically involve the purchasing group and require
  several qoutes or a single source document, but don't require a request for proposal
  (RFP) to be posted publicly by the purchasing agency.</p>

<p><em>Group</em> can mean department, division, city depending on the agency.</p>

